.App {
  text-align: center;
}

.App-logo {
  /* height: 40vmin;
  pointer-events: none; */

  margin-right: 60%;
  
  height: 90px;
}

.App-logo-container {
  display: inline-block; 
  vertical-align: middle;
  margin-right: 20px;
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Title{
  background-color: #333;
  width:80%;
  color: white;
  
  padding: 20px;
  text-align: right;
  display: flex; 
  align-items: center;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.gallery-container {
  display: flex;
  justify-content: center;
  overflow-y: auto; /* Hace que la galería sea desplazable verticalmente si hay muchos elementos */
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 2fr)); /* Grid flexible con columnas de tamaño mínimo 200px */
  grid-template-rows: repeat(auto-fit, minmax(100px, 2fr)); 
  gap: 20px; 
}

.gallery-item {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 100%;
  height: auto;
}

.gallery-item h3 {
  margin-top: 10px;
}

.gallery-item p {
  margin-top: 5px;
  font-size: 14px;
}
